
asgiref==3.8.1
CAL==3.9
certifi==2024.7.4
channels==4.2.2
channels-redis==4.2.1
charset-normalizer==3.4.0
Django==5.1
django-cors-headers==4.4.0
django-countries==7.6.1
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
Faker==37.1.0
geographiclib==2.0
geopy==2.4.1
idna==3.10
joblib==1.4.2
msgpack==1.1.0
numpy==2.2.5
pandas==2.2.3
Pillow==10.4.0
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
redis==5.2.1
requests==2.32.3
scipy==1.15.2
sentry-sdk==2.13.0
six==1.16.0
sqlparse==0.5.1
TFL==3.9
TFL-STP==3.0
threadpoolctl==3.6.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
scikit-learn==1.5.2 
dj-database-url==2.1.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.6.0 